jobs: 
  build: 
    name: "update lambda function"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
      - 
        name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@v2
        with: 
          node-version: "${{ matrix.node-version }}"
      - 
        name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v1
        with: 
          aws-access-key-id: "${{ secrets.AWS_ACCESS_KEY_ID }}"
          aws-region: "${{ secrets.AWS_REGION }}"
          aws-secret-access-key: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
      - 
        name: "Building Zip File"
        run: |    
            mkdir serverless
            zip -r serverless.zip . -x ".git/*" ".github/*" "node_modules/*" "package-lock.json" "packer/*"
            pwd
            mv serverless.zip serverless/
      - 
        name: "Upload to S3"
        run: |
            aws s3 sync ./serverless s3://lambda.demo.polepeddiaravind.me/serverless.zip
      - 
        name: "Update Lambda function"
        run: |-
            aws lambda update-function-code --function-name  csye6225-lambda-function --s3-bucket lambda.demo.polepeddiaravind.me --s3-key serverless.zip
name: "Update lambda function"
true: 
  push: 
    branches: 
      - main